<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard Assigment</title>
    <style>
        table tr td{
            width: 50px;
            height: 50px;
        }
        .color1{
            background-color: blue;
        }
        .color0{
            background-color: red;
        }
    </style>
</head>
<body>

    <table>
        {% for row in range(num): %}
        <tr>
            {% for col in range (8): %} 
            <td class='color{{(row + col ) % 2}}'></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>